.cons_all_order{
    display: flex;
    width: 100%;
}
.cons_detail_order{
    margin: 20px;
    padding: 20px 40px;
    border: 1px solid #aeaeae;
    width: 50%;
    height: auto;
}
.cons_date_order {
    display: flex;
    font-family: 'Arial';
    font-size: 20px;
    color: #3c5e7c;
    padding-left: 50px;
    
}
.cons_all_pr{
    margin-top: 10px;
}
.cons_a_pr{
    display: flex;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 3rem;
    padding: 30px;
    border-bottom: 1px solid #aeaeae;
}
.order_img{
    width:120px;
    height: 120px;
}
.cons_inf_order_detail {
    padding: 10px;
}

.name_pr {
    font-size: 30px; /* Thiết lập kích thước chữ */
    color: #333; /* Thiết lập màu chữ */
}

.soluong {
    margin-top: 10px;
    font-style: italic; 
    font-size: 15px;
}

.gia {
    margin-top: 25px; 
    font-weight: bold; 
    font-size: 18px;
    margin-right: 9px;
}
.total_bill{
    float: left;
    padding: 25px;
}

.total {
    font-weight:4px;
    margin-top: 30px;
    font-size: 20px;
    display: inline;
}
.text{
    font-size: 20px;
    padding-right: 5px;
    color: #c62323;
    margin-top:25px;
}
.btn_received{
    height: 50px;
    width: 150px;
    font-size: 2rem;
    font-family: 'Inter';
    float: right;
    color:#333;
    border-radius: 10px;
    margin-top: 15px;
    margin-top: 20px;
    padding: 10px;
    background-color: #9db0cc;
    border-radius: 5px;
    border: 2px solid #b8c0cc;
}
.btn_received:hover {
    background-color: #25305e;
    color: #fff;
}
